<a href="https://colab.research.google.com/github/gogimandu1019/bigdata202406/blob/main/4_2_type1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형1 모의문제2
- data : members.csv

## 문제4
- 주어진 데이터에서 자료형(type)이 object인 컬럼은 삭제하고, 결측치는 0으로 대체한다.
- 행 단위로 합한 다음 그 값이 3000보다 큰 값의 데이터 수를 구하시오
('age', 'f1', 'f2', 'f5', 'views'의 각 행별 합)

In [54]:
# your code
import pandas as pd

df = pd.read_csv('members.csv')
cols= df.select_dtypes(include='object').columns #object인 칼럼 : id, city, f3, f4, subscribed

df = df.drop(cols, axis=1)
df

df = df.fillna(0)
df['summ'] = df['age'] + df['f1'] + df['f2'] + df['f5'] + df['views']
df

cond = df['summ']  > 3000
print(sum(cond))

73

## 문제5
- 데이터에서 IQR을 활용해 views 컬럼의 이상치를 찾고, 이상치 데이터의 수를 구하시오

In [32]:
# your code
import pandas as pd

df = pd.read_csv('members.csv')
df

q1 = df['views'].quantile(0.25)
q3 = df['views'].quantile(0.75)
iqr = q3 - q1
minn = q1 - 1.5*iqr
maxx = q3 + 1.5*iqr

cond1 = (df['views'] < minn)
cond2 = (df['views'] > maxx)

cnt = sum(cond1 | cond2)
print(cnt)

4

## 문제6
- 'age' 컬럼의 이상치(소수점 나이와 음수나이, 0포함)를 제거하고
- 제거 전 후의 views 컬럼 표준편차를 더하시오 (최종 결과 값은 소수 둘째자리까지 출력, 셋째자리에서 반올림)

In [56]:
# your code

import pandas as pd

df = pd.read_csv('members.csv')
df
#print(df.shape)
#데이터 제거전 표준편차
std1 = df['views'].std() #4170.860768106485

cond1 = (df['age'] > 0)
cond2 = (df['age'] % 1 == 0)
df = df[cond1 & cond2]
#print(df.shape)
df

std2= df['views'].std() #4249.83323306832

print(round(std1 + std2, 2))

8420.69

# 풀이

## 문제4
- 주어진 데이터에서 자료형(type)이 object인 컬럼은 삭제하고, 결측치는 0으로 대체한다.
- 행 단위로 합한 다음 그 값이 3000보다 큰 값의 데이터 수를 구하시오
('age', 'f1', 'f2', 'f5', 'views'의 각 행별 합)

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("members.csv")

# cols = df.select_dtypes(include='object').columns
# cols
# df = df.drop(cols, axis=1)
# df.head()

cols = df.select_dtypes(exclude='object').columns
cols
df = df[cols]
df.head()

df = df.fillna(0)
df = df.T
df.head()
print(sum(df.sum() > 3000))

73

## 문제5
- 데이터에서 IQR을 활용해 views 컬럼의 이상치를 찾고, 이상치 데이터의 수를 구하시오

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("members.csv")

q3 = df['views'].quantile(.75)
q1 = df['views'].quantile(.25)

IQR = q3 - q1
# print(IQR)

line1 = q1 - 1.5 * IQR
line2 = q3 + 1.5 * IQR


print(sum(df['views'] < line1) + sum(df['views'] > line2))

4

## 문제6
- 'age' 컬럼의 이상치(소수점 나이와 음수나이, 0포함)를 제거하고
- 제거 전 후의 views 컬럼 표준편차를 더하시오 (최종 결과 값은 소수 둘째자리까지 출력, 셋째자리에서 반올림)

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("members.csv")

r1 = df['views'].std()

cond = df['age'] <= 0
# print(df.shape)
df = df[~cond]
# print(df.shape)

# print(df.shape)
cond = df['age'] == round(df['age'],0)
df = df[cond]
# print(df.shape)

r2 = df['views'].std()

print(round(r1 + r2, 2))

8420.69