<a href="https://colab.research.google.com/github/gogimandu1019/bigdata202406/blob/main/7%ED%9A%8C_%EA%B8%B0%EC%B6%9C_%EC%9C%A0%ED%98%95(%EC%9E%91%EC%97%85%ED%98%951)_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 작업형1

### 문제1. 결측치가 있는 행을 제거한 후, 학생이 가장 많이 수강한 과목(id_assessment)을 찾고, 해당 과목 점수(score)를 표준화(스탠다스 스케일) 한 뒤에 표준화된 가장 큰 값을 구하시오. (반올림하여 소수 셋째자리까지 계산)

In [ ]:
import pandas as pd
df = pd.read_csv("student_assessment.csv")
df.head() #id_assessment	student_id	study_period_days	score
df.isnull().sum() #score 에 결측치가 발생

#cond = df['score'].isnull() == True
df = df.dropna()
# df = df[~cond]
# df.isnull().sum()

df['id_assessment'].value_counts() #12 33개


cond2 = df['id_assessment'] == 12
df2 = df[cond2]

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

df2['score'] = scaler.fit_transform(df2[['score']])
x = df2['score'].max()
print(round(x, 3))

2.183

<ipython-input-41-edda8865fa9e>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['score'] = scaler.fit_transform(df2[['score']])

### 문제2. DE1~DE77컬럼 중 주가지수의 종가 "close"와 가장 상관관계가 높은 변수를 찾아, 해당 변수의 평균값을 구하시오. (반올림하여 소수 넷째자리까지 계산)

In [ ]:
import pandas as pd
df = pd.read_csv("stock_market.csv")
df.head()

df2 = df.corr()['close'].abs() #음의 상관관계도 절대값이 클 수 있음을 고려해야
df2
df2[:76].idxmax() #DE14

x = round(df['DE14'].mean(), 4)
print(x)

-0.0004

### 문제3. IQR을 이용해 이산화탄소(CO2) 이상치 수를 찾으시오

- Q1 (제 1사분위수): 하위 25% 값
- Q3 (제 3사분위수): 상위 25% 값
- IQR (사분위수 범위): IQR = Q3 - Q1

- lower (하한선): Q1 - 1.5 * IQR, 이 값보다 작은 데이터는 이상치로 간주
- upper (상한선): Q3 + 1.5 * IQR, 이 값보다 큰 데이터는 이상치로 간주

In [ ]:
import pandas as pd
df = pd.read_csv("air_quality.csv")
df.head()

Q1 = df['CO2'].quantile(0.25)
Q3 = df['CO2'].quantile(0.75)
IQR = Q3 - Q1
lower = Q1 - 1.5*IQR
upper = Q3 + 1.5*IQR
cond =( (df['CO2'] > upper) | (df['CO2'] < lower) )

print(len(df[cond]))

304