## T1-27. 바닐라라떼 5점, 카페라떼 3점, 아메리카노 2점, 나머지 0점이다 총 메뉴의 점수를 더한 값은?

In [7]:
import pandas as pd
df = pd.read_csv("/kaggle/input/bigdatacertificationkr/payment.csv")
df

df['menu'] = df['menu'].str.replace(" ", "")
df

cond1 = df['menu'] == "바닐라라떼"
cond2 = df['menu'] == "카페라떼"
cond3 = df['menu'] == "아메리카노"

score = len(df[cond1]) * 5 + len(df[cond2]) * 3 + len(df[cond3]) * 2
print(score)

17

In [ ]:
# your code

In [ ]:
# 풀이
df['menu'] = df['menu'].str.replace(' ','')
s1 = sum(df['menu'].str.contains("바닐라라떼"))
s2 = sum(df['menu'].str.contains("카페라떼"))
s3 = sum(df['menu'].str.contains("아메리카노"))
print((s1*5) + (s2*3) + (s3*2))